{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock titulo %}</title>
    <link href = "{%static 'css/general/nav_bar.css'%}" rel = "stylesheet"/>
    {%block configuraciones%}{%endblock configuraciones%}
</head>
<body>
    <div class = "nav">
        {%block administrar%}{%endblock administrar%}
        <div>
            <a href = "/empleados">Empleados</a><br/>
        </div>
        <div>
            <a href = "/departamento">Departamentos</a><br/>
        </div>
        <div>
            <a href = "/">Inicio</a> <br/>
        </div>
    </div>
    {%block contenido%}{%endblock contenido%}
</body>
</html>